.single {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame {
  width: 100%;
  height: 50px;

  padding: 10px 20px;
  margin: 10px 0px;

  display: flex;
  align-items: center;
}

.failure {
  border: 2px solid #F3C5C5;
}

.done {
  border: 2px solid #FFEBCC;

  pointer-events: none;
  opacity: 0.4;
}

.edit_btn {
  border: none;
  outline: none;
  border-radius: 40px;
  background: none;

  cursor: pointer;

  padding: 5px;
}

.edit_btn:hover {
  background: #FBFFE2;
  transition-duration: 2s;
}

.edit_input {
  border: none;
  border-radius: 50px;
  outline: none;

  padding: 10px;
  
  width: 80%;
}

.text_input {
  flex-grow: 4;
}